[submodule "ImitationLearning_tutorial"]
	path = ImitationLearning_tutorial
	url = /ImitationLearning_tutorial/
[submodule "ImitationLearning"]
	path = ImitationLearning
	url = git@github.com:MRNAS/ImitationLearning.git
[submodule "reinforcement_learning_tutorial"]
	path = reinforcement_learning_tutorial
	url = git@github.com:aliyah-smith/reinforcement_learning_tutorial.git
